fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
email-validator
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-multipart
python-dotenv

# AI & Recommendations
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
torch
pandas
scikit-learn
